AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=
AWS_REGION=us-west-2
STAGE=
SLS_DEBUG=
SPREADSHEETS_ROWS_TABLE=
AWS_LAMBDA_ROLE_RESOURCE=
AWS_AIOBOTOCORE_LAYER_RESOURCE=
AWS_XLRD_LAYER_RESOURCE=
AWS_REQUESTS_LAYER_RESOURCE=
SQS_QUEUE_URL=
SQS_ENDPOINT=
SQS_QUEUE_ORDER_HISTORY_ARN=
SQS_QUEUE_RFQ_HISTORY_ARN=
SQS_QUEUE_ERP_OFFER_ARN=
BRIDGE_API=
BRIDGE_USERNAME=
BRIDGE_PASSWORD=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_ENDPOINT=http://s3:9000
